<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample blogs</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>
<body>


 <div class="background-image">
    <div class="container">
        <section>
            <h2 class="blogs">Blogs</h2> <br><br>
            <div class="content">
                {{#each blogs}}
                <div class="blog">
                    <img src="https://cdnbbsr.s3waas.gov.in/s3c92a10324374fac681719d63979d00fe/uploads/bfi_thumb/2023120578-qgcq2fjt8yq9pz35uni0baj79hswthrmz8ntx4hq9m.jpeg" alt="">
                    <h3>{{title}}</h3>
                    <p>Author: {{author}}</p>
                    <p>Genre: {{genre}}</p>
                    <button class="read-button">Read blog</button>
                </div>
                {{/each}}
                <div class="blog">
                    <img src="https://cdnbbsr.s3waas.gov.in/s3c92a10324374fac681719d63979d00fe/uploads/bfi_thumb/2023120578-qgcq2fjt8yq9pz35uni0baj79hswthrmz8ntx4hq9m.jpeg" alt="">
                    <h3>Leveraging Social Media </h3> <br>
                    <p>Author: INDIAN GOVERNMENT</p>
                    <p>Genre: Technology</p>
                    <a href="https://guidelines.india.gov.in/activity/leveraging-social-media-enhancing-user-experience-through-social-platforms-for-government-india-websites/"><button class="read-button">Read blog</button></a>
                    </div>
                <div class="blog">
                    <img src="https://cdnbbsr.s3waas.gov.in/s3c92a10324374fac681719d63979d00fe/uploads/bfi_thumb/2023120151-qg5y7qpamnd4k0mi8ik9t2bkwkulazz50raoliqs6y.jpeg" alt="">
                    <h3>The Art and Science of UX <br> Design</h3>
                    <p>Author: INDIAN GOVERNMENT</p>
                    <p>Genre: UI/UX</p>
                    <a href="https://guidelines.india.gov.in/activity/the-art-and-science-of-ui-ux-design-crafting-exceptional-digital-experiences/"><button class="read-button">Read blog</button></a>
                    </div>
                <div class="blog">
                    <img src="https://cdnbbsr.s3waas.gov.in/s3c92a10324374fac681719d63979d00fe/uploads/bfi_thumb/2023112971-qg23rvtvpau7rtyfgprnr81rt7ndljengybt5ucxmi.jpeg" alt="">
                    <h3>Crafting Clear and Concise <br> Content</h3>
                    <p>Author: INDIAN GOVERNMENT</p>
                    <p>Genre: Design</p>
                    <a href="https://guidelines.india.gov.in/activity/crafting-clear-and-concise-content-writing-strategies-for-government-websites/"><button class="read-button">Read blog</button></a>
                    </div>
                <div class="blog">
                    <img src="https://cdnbbsr.s3waas.gov.in/s3c92a10324374fac681719d63979d00fe/uploads/bfi_thumb/2023112951-qg245wl7nc16yfl8l9ybg6oat4jhf02iecnjvfkit6.jpeg" alt="">
                    <h3>Navigating the Digital <br> Landscape</h3>
                    <p>Author: INDIAN GOVERNMENT</p>
                    <p>Genre: Technology</p>
                    <a href="https://guidelines.india.gov.in/activity/navigating-the-digital-landscape-creating-seamless-navigation-for-indian-government-websites/"><button class="read-button">Read blog</button></a>
                    </div>
                <div class="blog">
                    <img src="https://cdnbbsr.s3waas.gov.in/s3c92a10324374fac681719d63979d00fe/uploads/bfi_thumb/2023103127-qenmllu4me5d69nk9azsdaqauy0go1dnyjiiceow8q.png" alt="">
                    <h3>The Impact of Typography <br> on Web Design</h3>
                    <p>Author: INDIAN GOVERNMENT</p>
                    <p>Genre: Web Design</p>
                    <a href="https://guidelines.india.gov.in/activity/the-impact-of-typography-on-web-design-a-comprehensive-guide-to-aesthetics-and-readability/"><button class="read-button">Read blog</button></a>
                    </div>
                <div class="blog">
                    <img src="https://cdnbbsr.s3waas.gov.in/s3c92a10324374fac681719d63979d00fe/uploads/bfi_thumb/2023102635-qeez6519mkhv8sxocl51hz0jqrwl73mtixmg1c1mbe.png" alt="">
                    <h3>CMS Requirements</h3> <br>
                    <p>Author: INDIAN GOVERNMENT</p>
                    <p>Genre: Technology</p>
                    <a href="https://cdnbbsr.s3waas.gov.in/s3c92a10324374fac681719d63979d00fe/uploads/bfi_thumb/2023102635-qeez6519mkhv8sxocl51hz0jqrwl73mtixmg1c1mbe.png"><button class="read-button">Read blog</button></a>
                    </div>
                <div class="blog">
                    <img src="https://cdnbbsr.s3waas.gov.in/s3c92a10324374fac681719d63979d00fe/uploads/bfi_thumb/2023102667-qeezczazd5uzqmzyejlan8vbdq6r7sshssjnrtwh16.png" alt="">
                    <h3>Creating Accessible Tables</h3> <br>
                    <p>Author: INDIAN GOVERNMENT</p>
                    <p>Genre: Creative</p>
                    <a href="https://guidelines.india.gov.in/activity/creating-accessible-tables/"><button class="read-button">Read blog</button></a>
                    </div>
                <div class="blog">
                    <img src="https://cdnbbsr.s3waas.gov.in/s3c92a10324374fac681719d63979d00fe/uploads/bfi_thumb/2023102674-qeez86cofna8edz6ggtxwgii2tv7vhpvt0ibgx0wu2.png" alt="">
                    <h3>Responsive Design Best <br> Practices</h3>
                    <p>Author: INDIAN GOVERNMENT</p>
                    <p>Genre: Design</p>
                    <a href="https://guidelines.india.gov.in/activity/responsive-design-best-practices/"><button class="read-button">Read blog</button></a>
                    </div>
                <div class="blog">
                    <img src="https://cdnbbsr.s3waas.gov.in/s3c92a10324374fac681719d63979d00fe/uploads/bfi_thumb/2023102630-qeezc65zhar3qq6a4ozuzy80ys6dl6ktcsblw93oe2.png" alt="">
                    <h3>Search engine optimization <br> (SEO)</h3>
                    <p>Author: INDIAN GOVERNMENT</p>
                    <p>Genre: Optimization</p>
                    <a href="https://guidelines.india.gov.in/activity/search-engine-optimization-seo/"><button class="read-button">Read blog</button></a>
                    </div>
            </div>
        </section>
<br><br>


</body>
</html>
